.notification-list {
  position: fixed;
  right: 0;
  top: 110;
  background-color: #fff;
  width: 400px;
  opacity: 0.8;
  z-index: 1000;
}

.notification-list .mat-list-item {
  cursor: pointer;
}

