<mat-toolbar *ngIf="!isHidden">
  <a class="logo">
    <img src="../../../assets/logo.png" alt="">
  </a>
  <ul class="menu">
    <li><a href="/" routerlink="/" class="transition">Home</a></li>
    <li>Challenges</li>
    <li>Winners</li>
  </ul>
  <div class="notification-icon" (click)="showNotification()">
    <i class="far fa-bell fa-2x"></i>
  </div>
</mat-toolbar>
<mat-list class="notification-list" *ngIf="isNotificationShowed">
  <mat-list-item *ngIf="notifications">Didn't find any notification ...</mat-list-item>
  <mat-list-item *ngFor="let item of notifications"> {{ item }} </mat-list-item>
</mat-list>

