<mat-toolbar *ngIf="!isHidden">
  <a class="logo">
    <img src="../../../assets/logo.png" alt="">
  </a>
  <ul class="menu">
    <li><a href="/" [routerLink]="['/']" class="transition">Home</a></li>
    <li><a href="">Challenges</a></li>
    <li><a href="">Winners</a></li>
    <li><a href="" *ngIf="userId" [routerLink]="['/users/', userId]">User profile</a></li>
  </ul>
  <div class="notification-icon" (click)="showNotification()">
    <i class="far fa-bell fa-2x"></i>
  </div>
</mat-toolbar>

<ng-container *ngIf="isNotificationShowed">
  <app-notifications [notifications]="notifications"></app-notifications>
</ng-container>
