/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

/*Default classes*/
* {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 45%;
}

.notification-icon {
  flex-grow: 1;
  text-align: right;
  cursor: pointer;
  margin-right: 10px;
}

.notification-list {
  position: fixed;
  right: 0;
  top: 110;
  background-color: #fff;
  width: 400px;
  opacity: 0.8;
  z-index: 1000;
}

.notification-list .mat-list-item {
  cursor: pointer;
}
